<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pecoffeeapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5E7B4971F295ABF00D630AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E7B4AB1F295ABF00D630AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E7B4B61F295ABF00D630AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
